In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = r'C:\Users\Wyatt\wyatt37\data\energy'

In [3]:
train_col = ['num', 'date_time', 'target', 'temp', 'wind', 'humid', 'rain', 'sunny', 'cooler', 'solar']

In [4]:
train = pd.read_csv(PATH + '\\train.csv', encoding='cp949', names=train_col, header=0)

In [5]:
train

,num,date_time,target,temp,wind,humid,rain,sunny,cooler,solar
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [8]:
data = pd.read_csv('OBS_ASOS_TIM_20210609165902.csv', encoding='cp949')
data

         지점 지점명                일시  기온(°C)  풍속(m/s)  습도(%)  일조(hr)
0        90  속초  2020-06-01 01:00    18.0      1.1   85.0     NaN
1        90  속초  2020-06-01 02:00    17.5      1.4   88.0     NaN
2        90  속초  2020-06-01 03:00    19.2      0.7   75.0     NaN
3        90  속초  2020-06-01 04:00    20.1      0.8   69.0     NaN
4        90  속초  2020-06-01 05:00    20.3      1.1   67.0     NaN
...     ...  ..               ...     ...      ...    ...     ...
207323  295  남해  2020-08-30 20:00    27.4      0.7   90.0     NaN
207324  295  남해  2020-08-30 21:00    27.0      0.3   89.0     NaN
207325  295  남해  2020-08-30 22:00    26.3      0.2   91.0     NaN
207326  295  남해  2020-08-30 23:00    26.0      0.8   92.0     NaN
207327  295  남해  2020-08-31 00:00    25.8      0.8   94.0     NaN

[207328 rows x 7 columns]

In [10]:
train.iloc[1, :]

num                      1
date_time    2020-06-01 01
target             8135.64
temp                  17.7
wind                   2.9
humid                 91.0
rain                   0.3
sunny                  0.0
cooler                 0.0
solar                  0.0
Name: 1, dtype: object

In [12]:
data.loc[(data['일시'] == '2020-06-01 01:00') & (data['기온(°C)'] == 17.7)]

         지점 지점명                일시  기온(°C)  풍속(m/s)  습도(%)  일조(hr)
24011   108  서울  2020-06-01 01:00    17.7      2.9   91.0     NaN
56751   140  군산  2020-06-01 01:00    17.7      1.8   97.0     NaN
80769   170  완도  2020-06-01 01:00    17.7      0.0   98.0     NaN
102608  202  양평  2020-06-01 01:00    17.7      1.1   96.0     NaN

기상청 서울 관측소의 정보라는 것을 알 수 있다. 그리고 서울 관측소는 독립문 인근에 있다.

In [17]:
from IPython.display import Image
Image(url='weather.png', width=1000)